{% import "macros/binding.jinja2" as binding %}
{% import "macros/docs.jinja2" as docs with context %}
{% import "macros/effects.jinja2" as effects with context %}

<h5>Printing Effects {{ docs.help_icon("configuration/printing-effects") }}</h5>
<form class="form-horizontal">
    {{ effects.effect("startup", "Startup") }}
    <hr>
    {{ effects.effect("idle", "Idle") }}
    <div class="form-inline" style="margin-top: 0.5rem;" data-bind="visible: {{ binding.effect_binding("idle.enabled") }}">
        <label for="ws_idle_timeout" class="inline">Idle turns off after</label>
        <div class="input-append">
            <input id="ws_idle_timeout" class="input-medium" type="number" data-bind="value: {{ binding.effect_binding("idle.timeout") }}">
            <span class="add-on">secs</span>
        </div>
        <p class="help-block">Set this to 0 to disable idle timeout.</p>
    </div>
    <hr>
    {{ effects.effect("disconnected", "Disonnected") }}
    <hr>
    {{ effects.effect("success", "Success") }}
    <div class="form-inline" style="margin-top: 0.5rem;" data-bind="visible: settingsViewModel.settings.plugins.ws281x_led_status.effects.success.enabled">
        <label for="ws_success_return" class="inline">Return to idle after:</label>
        <div class="input-append">
            <input id="ws_success_return" class="input-medium" type="number" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.effects.success.return_to_idle">
            <span class="add-on">secs</span>
        </div>
        <p class="help-block">Set this to 0 and the idle effect will not resume - it will remain 'finished'</p>
    </div>
    <hr>
    {{ effects.effect("failed", "Failed") }}
    <hr>
    {{ effects.effect("paused", "Paused") }}
    <hr>
    {{ effects.effect("printing", "Printing") }}
    <p class="help-block"><span class="label label-warning">Warning</span> Enabling this effect takes priority over the progress effect</p>
</form>
